{
  "extends": [
    "prettier",
    "prettier/react"
  ],
  "prettier/prettier": [
    "error",
    {
      "trailingComma": "es5",
      "tabWidth": 2,
      "singleQuote": true,
      "jsxBracketSameLine": true
    }
  ],
  "plugins": [
    "prettier"
  ]
}
